.games-container {
    padding-top: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    .game-box {
        width: calc(100%/5);
        padding: 10px;
    }
    @media only screen and (max-width: 960px) {
      .game-box {
        width: calc(100%/3);
      }
    }
    @media only screen and (max-width: 576px) {
      .game-box {
        width: calc(100%);
      }
    }
}