
:root {
  --green: #8DC63F;
  --dark: #373737;
  --light: #FCFCFC;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}